<tr>
  <td><%= event.title %></td>
  <td class="slug"><%= event.slug %></td>
  <td><%= link_to "Projects", admin_event_projects_path(event) %></td>
  <td><%= link_to "Edit", edit_admin_event_path(event) %></td>
  <td><%= link_to "Delete", admin_event_path(event), :method => 'DELETE', data: { confirm: "WARNING:\n\nThis will delete #{event.title} (#{event.slug}). All its projects and awards will also be deleted.\n\nThis action can't be reversed. Are you sure you wish to continue?" } %></td>
</tr>
