<section class="event">
  <%= render :partial => 'event_header' %>

  <%- if event.enable_project_creation? %>
    <div class="submit">
      <%= link_to "Submit your project →", new_event_project_path(event) %>
    </div>
  <%- end %>

  <% if event.winners.any? %>
    <%= render :partial => 'winners' %>
  <% end %>

  <% if event.use_centres? %>
    <%= render :partial => 'centre_list' %>
  <% elsif event.winners.any? && event.projects.count > 30  %>
    <div class="see-all">
      <%= link_to "See all #{pluralize(event.projects.size, "project")} →", event_projects_path(event) %>
    </div>
  <% else %>
    <%= render partial: 'projects/project_list', locals: { projects: event.projects } %>
  <% end %>

</section>
