<%= semantic_nested_form_for([:admin, event, project], html: { class: 'admin-form' }) do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs "Basic Info" do %>
    <%= f.input :title %>
    <% if event.use_centres %>
      <%= f.input :centre %>
    <% end %>
    <%= f.input :slug, :input_html => { :disabled => true } %>
    <%= f.input :team %>
    <%= f.input :url %>
    <%= f.input :secret %>
  <% end %>

  <%= f.inputs "Description" do %>
    <%= f.input :tag_list_with_hashes %>

    <% if f.object.summary.present? %>
      <%= f.input :summary, :input_html => { :rows => 5 } %>
    <% end %>

    <% if f.object.description.present? %>
      <%= f.input :description, :input_html => { :rows => 8 } %>
    <% end %>

    <% if f.object.ideas.present? %>
      <%= f.input :ideas, :input_html => { :rows => 5 } %>
    <% end %>

    <% if f.object.data.present? %>
      <%= f.input :data, :input_html => { :rows => 5 } %>
    <% end %>
  <% end %>

  <%= f.inputs "Links" do %>
    <%= f.input :twitter %>

    <% if f.object.github_url.present? %>
      <%= f.input :github_url %>
    <% end %>

    <% if f.object.svn_url.present? %>
      <%= f.input :svn_url %>
    <% end %>

    <%= f.input :code_url %>
  <% end %>

  <%= f.inputs "Image" do %>
    <%= f.input :image %>
    <li class="input"><%= label_tag nil, "Current screenshot", :class => 'label' %><%= image_tag project.image.url(:mini) %></li>
  <% end %>

  <%= f.inputs "Awards" do %>
    <%= f.semantic_fields_for :awards do |award_fields| %>
      <%= award_fields.input :award_category, :collection => event.award_categories %>
      <%= award_fields.link_to_remove "Remove this award" %>
    <% end %>
    <%= f.link_to_add "Add an award", :awards %>
  <% end %>

  <%= render :partial => "admin/shared/actions", :locals => { :f => f } %>
<% end %>
