<% content_for(:title) { "Hacks" } %>

<h1><%= event.title %></h1>

<p>
  <%= link_to "Edit event details", edit_admin_event_path(event), class: 'button' %>

  <% if event.require_review? %>
    <%= link_to admin_event_unreviewed_projects_path(event), class: 'button' do %>
      Review <%= pluralize(event.projects.unreviewed.count, 'project') %>
    <% end %>
  <% end %>
</p>

<table>
  <tbody>
    <thead>
      <tr>
        <th scope="col">Hack Title</th>
        <th scope="col">Slug</th>
        <th scope="col">Team</th>
        <th scope="col">Awards</th>
        <% if event.require_review? %>
          <th scope="col">Status</th>
        <% end %>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <%= render :partial => "project", :collection => projects %>
  </tbody>
</table>
