<%= render partial: 'events/event_header' %>
<% content_for(:title) { " - #{project.title}" } %>

<section class="project">
  <header>
    <h1><%= project.title %></h1>
    <h2>by <%= project.team %></h2>
  </header>

  <% if project.has_won_award? %>
    <%= render partial: 'awards' %>
  <% end %>

  <% if project.image.present? %>
    <%= image_tag project.image.url(:full), class: 'screenshot' %>
  <% end %>

  <div class="description">
    <%= mkdn project.description %>
  </div>

  <% if project.tags.any? %>
    <p>
      Tags:
      <% project.tags.each do |tag| %>
        <%= link_to "##{tag.name}", event_projects_list_path(event, tag: tag.name) %>
      <% end %>
    </p>
  <% end %>

  <nav class="external-links">
    <ul>
      <% if project.url.present? %>
        <li>Project URL: <%= link_to project.format_url(project.url), project.url %></li>
      <% end %>

      <% if project.github_url.present? %>
        <li class="icon_github">GitHub: <%= link_to format_github_url(project.github_url), project.github_url %></li>
      <% end %>

      <% if project.svn_url.present? %>
        <li class="icon_code">SVN URL: <%= link_to project.format_url(project.svn_url), project.svn_url %></li>
      <% end %>

      <% if project.code_url.present? %>
        <li class="icon_code">Code URL: <%= link_to project.format_url(project.code_url), project.code_url %></li>
      <% end %>

      <% if project.twitter.present? %>
        <li class="icon_twitter">Twitter: <%= twitter_links_for(project) %></li>
      <% end %>
    </ul>
  </nav>

  <aside class="actions">
    <%= link_to 'Edit this project', edit_event_project_path(event, project) %>
  </aside>
</section>
