<!doctype html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title><%= (content_for?(:title)) ? content_for(:title) + " - " : "" %>Young Rewired State</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
  <header class="global">
    <h1><%= link_to "Young Rewired State", "http://www.yrs.io/" %></h1>
    <h2>
      <% if content_for?(:page_title) %>
        <%= yield(:page_title) %>
      <% else %>
        Hacks and creations
      <% end %>
    </h2>
  </header>

  <main>
    <% flash.each do |key,message| %>
      <div class="flash flash_<%= key %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </main>

  <footer>
    <% if breadcrumbs.items.any? %>
      <div class="breadcrumbs">
        <ol>
          <li class="crumb_home"><%= link_to "All hacks and creations", root_path %></li>
          <%= breadcrumbs.render(:format => :SoleListItem) %>
        </ol>
      </div>
    <% end %>

    <% if admin_signed_in? %>
      <%= render :partial => 'admin/shared/user' %>
    <% end %>

    <p><%= link_to "Young Rewired State", "http://www.yrs.io/", class: 'logo' %></p>
    <p>&copy; Young Rewired State</p>
  </footer>
</body>
</html>
